* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
}
.navi{
  display: flex;
  align-items: center;
  height: 50px;
  background-color: blueviolet;
  color: aliceblue;
  padding: 10px 12px;
  
}
.nav--logo{
  height: 60%;
  margin-right: auto;
  
}
.header--project{
  font-size: 16px;
  font-weight: 500;
  

}
main {
  padding: 36px;
}

.form {
 
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
}
.form--input {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
    border: 1px solid #c6bedc;
    text-indent: 5px;
    height: 35px;
    width: 100%;
  
}
.form--button {
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.meme--image {
  max-width: 100%;

}
.img-container{
 align-items: center;
 
 margin-left: 26%;
}
/* .form--label{
  margin-bottom: 5px;

} */
/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
